<header>
	<div id="logo-div">
	<img id="logo" src="https://fiverr-res.cloudinary.com/t_main1,q_auto,f_auto/gigs2/301383703/original/a8cccf825048f406f8868a549aa14d2dda6c3182.jpg"
		alt="">
	</div>
	<nav>
		<ul id="nav_bar">
			<li><a href="htmlApp.html" class="active">Home</a></li>
			<li><a href="about.html">About</a></li>
			<li><a href="contact.html">Contact</a></li>
			<form action="https://www.google.com/search" method="get" target="_blank">
				<label for="search"></label>
				<input type="text" id="search" class="search-input" name="q" placeholder="Google">
				<button class="search" type="submit">Search</button>
			</form>
		</ul>
	</nav>
</header>